
/*	styling for the "explore page 
	where users can explore a map and upload images, text etc.
	to points on the map
*/

#locationDisplay {
    position: relative;
    margin-top: 2vh;
    margin-left: 5vh;
    margin-bottom: 2vh;
    height: 80vh;
    width: 90vw;
    clear: both;
    border-style: dotted;
    border-width: 1px;
    overflow: hidden;
}


.imageObject {
    position: absolute;
    /* position coords should should be to centre of image*/
    margin-left: -50%;
    margin-top: -50%;
    /*transform: translate(-50%, -50%) ;*/
    float: both;

}


