
/*	styling for the "explore page 
	where users can explore a map and upload images, text etc.
	to points on the map
*/

#locationDisplay,
#locationClicker {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    clear: both;;
    overflow: hidden;
}

#locationDisplay {
    z-index: 0;
    background-color: white;

}

#locationClicker {
    /*changed to 100 by js when ctrl held down*/
    z-index: -100;
    background-color: black;
    opacity: 0.05;
}


#navNorth {
    transform: translate(-50%, 0%) ;
    -ms-transform: translate(-50%, 0%) ; /* IE 9 */
    -webkit-transform: translate(-50%, 0%) ; /* Chrome, Safari, Opera */
    top:0;
    left: 50vw;
}

#navSouth {
    transform: translate(-50%, 0%) ;
    -ms-transform: translate(-50%, 0%) ; /* IE 9 */
    -webkit-transform: translate(-50%, 0%) ; /* Chrome, Safari, Opera */
    bottom:0;
    left: 50vw;
}

#navEast {
    transform: translate(0%, -50%) ;
    -ms-transform: translate(0%, -50%) ; /* IE 9 */
    -webkit-transform: translate(0%, -50%) ; /* Chrome, Safari, Opera */
    top:50vh;
    right: 0;
}

#navWest {
    transform: translate(0%, -50%) ;
    -ms-transform: translate(0%, -50%) ; /* IE 9 */
    -webkit-transform: translate(0%, -50%) ; /* Chrome, Safari, Opera */
    top:50vh;
    left: 0;
}

.nav {
    position: absolute;
    z-index: 100;
    opacity: 0.2;

}

.nav:hover {
    opacity: 0.7;
}

.nav:hover:after {
    border: 0; /* override normal underline behaviour*/
}


#upload, #help  {
    position: absolute;
    padding: 10px;
    float: both;
    z-index: -100;
    width: auto;
    height: auto;
    max-height: 90vh;
    max-width: 90vw;
    overflow:auto;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%) ;
    -ms-transform: translate(-50%, -50%) ; /* IE 9 */
    -webkit-transform: translate(-50%, -50%) ; /* Chrome, Safari, Opera */
    background-color: rgb(253,253,253);
    opacity: 0.9;
    border-style: dotted;
    border-width: 1px;
    border-color: rgb(80,80,80);
    border-radius: 5px;
}


#uploadMarker{
    position: absolute;
    z-index: -150;
    font-size: 2em;
    font-family: sans-serif;
    height: auto;
    width: auto;
    transform: translate(-50%, -50%) ;
    -ms-transform: translate(-50%, -50%) ; /* IE 9 */
    -webkit-transform: translate(-50%, -50%) ; /* Chrome, Safari, Opera */
    mix-blend-mode: exclusion;
    color: white;
    /*cycle colours so it shows on any bg*/
    -webkit-animation: color-change 1s infinite;
    -moz-animation: color-change 1s infinite;
    -o-animation: color-change 1s infinite;
    -ms-animation: color-change 1s infinite;
    animation: color-change 1s infinite;
}

@-webkit-keyframes color-change {
    0% { color: red; }
    25% { color: white; }
    50% { color: blue; }  
    75% { color: black; }  
    100% { color: red; }
}
@-moz-keyframes color-change {
    0% { color: red; }
    25% { color: white; }
    50% { color: blue; }  
    75% { color: black; }  
    100% { color: red; }
}
@-ms-keyframes color-change {
    0% { color: red; }
    25% { color: white; }
    50% { color: blue; }  
    75% { color: black; }  
    100% { color: red; }
}
@-o-keyframes color-change {
    0% { color: red; }
    25% { color: white; }
    50% { color: blue; }  
    75% { color: black; }  
    100% { color: red; }
}
@keyframes color-change {
    0% { color: red; }
    25% { color: white; }
    50% { color: blue; }  
    75% { color: black; }  
    100% { color: red; }
}


#textureOptions {
    display: none;
}

#objectOptions {
    display: inline;
}

#captionControls{
    bottom:5px;
    right:5px;
    position:absolute;
    clear: both; 
}



.imageObject, .bgObject, .captionObject{
    position: absolute;
    /* position coords should should be to centre of image*/
    transform: translate(-50%, -50%) ;
    -ms-transform: translate(-50%, -50%) ; /* IE 9 */
    -webkit-transform: translate(-50%, -50%) ; /* Chrome, Safari, Opera */
    float: both;
    clear: none;
}

.imageObject {
    z-index: 0;
}

.bgObject {
    z-index: -50;
}

.captionObject{
    z-index: 50;
    width: auto;
}

.captionLink,
.caption {
    position:absolute;
    top: 10%;
    left:10%;
    float:both;
    clear: none;
    width: auto;
    height: auto;
    opacity: 80%;
    padding: 4px;
}


.captionLink {
    z-index: 150;
    visibility: visible;
    opacity: 0.4;
    background-color:white;
}
.captionLink:hover {
    opacity: 1;
}

.captionLink:hover:after {
    border: none;   
    /*override default link style which uses bottom border*/
}


.caption {
    z-index: -150;
    visibility: hidden;
    opacity: 0.8;
    background-color: white;
    padding-bottom: 2em;
    max-width: 300px;
    min-width: 200px;

}


input, select, button, textarea
 {
    margin-left: 10px;
    margin-bottom: 10px;
}

.north, .south {
    min-width: 100px;
    width: 8vw;
    height: auto;
}

.east, .west  {
    min-height:100px;
    height: 8vw; /* w is intentional here, to keep proportions*/
    width: auto;
}






