

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ｖｉｉｓｉｔ | explore |</title>
<meta http-equiv="Content-Type" 
content="text/html; charset="UTF-8" />
<link  rel="stylesheet" href="./css/general.css" />
<link  rel="stylesheet" href="./css/explore.css" />
</head>
<body>
<p>In progress - currently just the uploader section of a page which allows you to navigate around a map, and add images, sounds and texts at locations</p>

<div id="map">
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>
<div class="gridsquare"></div>


</div>


<form action="/upload" enctype="multipart/form-data" 
method="post">
<input type="file" name="upload">
<input type="submit" value="Upload file" />
</form>
</body>
</html>