

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ｖｉｉｓｉｔ | explore |</title>
<meta http-equiv="Content-Type" 
content="text/html; charset="UTF-8" />
<link  rel="stylesheet" href="./css/general.css" />
<link  rel="stylesheet" href="./css/explore.css" />
</head>
<body>
<p>In progress - stepping stone in development - a map which lets you select a location to visit, view and interact with. Goal is to have a google-maps style scrollable "space" with parallax scrolling of layers of uploaded material, which allows you to ctrl-click a location and add your own content</p>

<div id="map">
</div>

</body>
</html>