
.mobileElement {
	position: fixed;
	color : green;
}

.prettyElement1 {
	font-family: monospace;
	position: fixed;
	color : blue;
}

.prettyElement2 {
	font-family: sans-serif;
	position: fixed;
	color : red;
}
